/* GENERALS */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}
body {
    font-family: 'gg sans', 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
ul,
ol{
    list-style: none;
}
li{
    line-height: 40px;
}
a{
    text-decoration: none;
    margin: 0;
    color: white;

}
.row{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}    

body{
    background-color:white;
}
img{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    
}
.w-800{
    max-width: 800px;
}
.col-16{
    width: calc(100%/6);
}
.col-20{
    width: 20%;
}
.col-25{
    width: 20%;
}
.col-32{
    width: calc((100%/6)*2);
}
.col-33{
    width: calc(100%/3);
}
.col-50{
    width: 50%;
}
.col-40{
    width: 40%;
}
.col-60{
    width: 60%;
}
.col-66{
    width: calc((100%/3)*2);
}
.col-80{
    width: 80%;
}
.p-5{
    padding: 0 auto;
}
.p-10{
    padding: 40px 10px;
}
.p-35{
    padding: 35px;
}
.col-reverse{
    flex-direction: row-reverse;
}
.scarica-button{
    margin: 0;
    padding: 0;
}
button{
    border-radius: 999px;
    padding: 10px;
    border-style: none;
}
.display-inline{
    display:inline-block ;
}
/* LAYOUT */
.w-900{
    max-width: 900px;
    margin: 0 auto;
}
.wgh-600{
    font-weight: 600;
}
.max-w{
    max-width: min-content;
}
/* HEADER */
header{
    background-color:#265EE9 ;
}
.navbar{
    padding:20px 0px;
    display: flex;
    color: white;
    justify-content: space-between;
}
.row-hd{
    margin: 0;
    padding: 0;
    gap: 35px;
}

/* CONTAINERS FEATURES */
/* .dash-cont-1{
    height: 350px;
    width: 900px;
}

.dash-cont-2{
    height: 700px;
    width: 900px;
}
.dash-cont-3{
    height: 400px;
    width: 900px;
} */
.dash-cont-3 > *{
    flex-direction: column;
}
/* .dash-cont-4{
    height: 50px;
    width: 900px;
} */
.container{
    display: flex;
}
.container > *{
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}


h1{
    padding-bottom: 25px;
    font-size: 30px;
}
.row > *{
    text-align: center;
}

.ln-height{
    line-height: 25px;
}
.dp-cont-4{
   align-items: center;
   justify-content: space-between;
   flex-direction: row;
}
.ft-logo{
    padding: 0;
    margin: 0;
 }
 .ft-button{
    padding: 0;
    margin: 0;
 }

.bd-bottom-blue{
    border-bottom:2px solid #265EE9;
}
/* MAIN */
.main-header{
    justify-content: space-around;
}
.main-button{
    margin: 15px;
}
.home-slide{
   
    max-width: 700px;
}
main > :first-child{
    background-image: url(./img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}
.stars-bg{
    background-image: url(./img/stars.svg);
    margin-bottom: 20px;
}
.bg-grey{
    background-color: #efefef;
}

.white-color{
    color: white;
}
.blue-color{
    color: #265EE9;
}
.bg-black{
    background-color:#2b2d31 ;
}


.bg-green{
    flex-direction: column;
    justify-content: center;
}
.blue-button{
    background-color: #265EE9;
}
/* FOOTER */
.al-left{
    text-align: left;
}

.lg-selector{
    display: inline-block;
    width: 15px;
}
.ita-img{
    vertical-align: middle;
    margin-right:3px ;
}


ul > *{
    font-size: 12px;
}
.ft-container{
    display: flex;
}

.ft-row > *{
    text-align: left;
    margin: 15px;
    flex-wrap: wrap;
}

h3,
h3 > *{
    font-size: 12px;
}
h2{
    margin: 0 ;
    width: 200px;
}
.sel-lingua{
    display:flex;
    margin-top: 0;
}
.social-icon{
    display: flex;
    margin: 0;
}
.col-social-icon{
    margin:0;
}
.w-50{
    width: 1000px;
}
/* DEBUG RULES */

  /* .bg-blue{
    background-color: blue;
}
 .bg-pink{
    background-color: pink;
} 

.bg-yellow{
    background-color: #daa521;
}
.bg-white{
    background-color: white;
}
.bg-green{
    background-color: green;
}
.bg-red{
    background-color:#f08080;
}
.bg-acqua{
    background-color:#21b2aa ;
}
.bg-acqua-light{
    background-color:#7dfad0 ;
}  


.debug .container{
    border: 2px dashed black;    
}
.debug .row{
    border:2px dashed black;
    padding: 16px;
}
.debug .row-ft{
    border:2px dashed black;
    padding: 3px 15px;
    background-color:pink ;
    gap: 400px;
}

.p-35 .row{
    border: 2px dashed black;
}

.debug .bg-acqua{
    border: 2px dashed white;   
} */

